@charset "UTF-8";

*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    
}
 
body{
    height: 100vh;
    background:url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    
}

main{
    height: 100vh;
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-52%, -50%);
    



    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    
}
            
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}
section#redes-sociais{
    text-align: right;
    padding: 0px;
    
}

section#redes-sociais img{

    width: 40px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    
}
section#redes-sociais img:hover{
    border: 2px solid rgb(255, 255, 255);
    transform: translate(-2px,-3px);
    box-shadow: 5px 5px 10px black;
    transition: transform .5s, border 1s;
}